{% extends 'base/base.html' %}

{% block title %}Leave Details{% endblock %}

{% block breadcrumbs %}
<li>
    <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
        </svg>
        <a href="{% url 'dashboard:leaves' %}"
           class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Leaves</a>
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
        </svg>
        <a href=""
           class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Details</a>
    </div>
</li>
{% endblock %}

{% block content %}
<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Leave Details</h4>
<div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Field</th>
                <th class="px-4 py-3">Details</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <tr>
                <td class="px-4 py-3 text-sm font-semibold">From Date</td>
                <td class="px-4 py-3 text-sm">{{ leave.from_date }}</td>
            </tr>
            <tr>
                <td class="px-4 py-3 text-sm font-semibold">To Date</td>
                <td class="px-4 py-3 text-sm">{{ leave.to_date }}</td>
            </tr>
            <tr>
                <td class="px-4 py-3 text-sm font-semibold">Reason</td>
                <td class="px-4 py-3 text-sm">{{ leave.reason }}</td>
            </tr>
            <tr>
                <td class="px-4 py-3 text-sm font-semibold">Status</td>
                <td class="px-4 py-3 text-sm">
                    {% if leave.status == 2 %}
                    <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                Approved
                            </span>
                    {% elif leave.status == 1 %}
                    <span class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:bg-yellow-700 dark:text-yellow-100">
                                Pending
                            </span>
                    {% else %}
                    <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                                Rejected
                            </span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-4">
    {% if request.user.role and request.user.role.id == 0 or request.user.role.role_type == 1%}

    <a href="{% url 'dashboard:leave_manage' %}"
       class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Back
        to Leave List</a>
    {% else %}
    <a href="{% url 'dashboard:leaves' %}"
       class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Back
        to Leave List</a>


    {% endif %}
</div>
{% endblock %}
